.homeBody {
    margin: 20px;
    padding: 10px;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 90vh;
    max-width: 70vw;
    flex-direction: column;
    justify-content: center;
}

.homeTitle h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#homeModalButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: olive;
    cursor: pointer;
    transition: border-color 0.25s;
}

#homeModalButton:hover {
    border-color: #646cff;
}

#homeModalButton:focus,
#homeModalButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* for modal purposes */

.modal-content {
    margin: auto;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    width: 50%;
    padding: 5px;
}

.modal-arrow {
    color: rgb(0, 0, 0);
}

[role='tooltip'].modal-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].modal-overlay {
    background: transparent;
}

/* ---------------- */